.dialog{
    position:fixed;top:200px;left:900px;width: 300px;height: 100px;
    border: 2px solid;
    background-color:gold;
    padding: 3px;
    display:none;
}
.dialog>.close{
    padding: 2px;
}
.red{
    color:red;
}
.bold{
    font-weight: bold;
}
body{
    
    
    
    line-height: 30px;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 5%;
    border-style:dashed;
    margin: 10% 35% ;
    padding:20px;
    width: fit-content;
}
